*{
  margin:0 auto
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.cf:after{
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.cf{
  *zoom: 1;
}

/* header */
header{
  width: 100%;
  background: #333333;
  height: 80px;
}

.head{
  width: 960px;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
  line-height: 80px;
}
.head a{
  color: #fff;
}
.head ul{
  float: right;
}
.head li {
  float: left;
  margin-left: 10px;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
}

/* main */
.main{
  width: 100%;
}
.banner-container{
  height: 300px;
  background: #66BB33;
}
.banner{
  position: relative;
  height: 100%;
  width: 960px;
  margin: 0 auto;
}
.banner-number{
  position: absolute;
  bottom: 10px;
  right: 0;
}

/*
.banner-number ul {
  height: 60px;
}
 .banner-number li {
  float: left;
  height: 35px;
  width: 30px;
  background: rgba(255,255,255, .4);
  line-height: 35px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 25px;
}
.banner-number .active{
  margin-top: 0px;
  height: 60px;
  line-height: 85px;
  background: rgba(255,255,255,.8);
} 
*/

/* 也可以使用flex做 */

.banner-number ul {
  height: 60px;
  width: 140px;
  display: flex;
  align-items: flex-end;
}
.banner-number li{
  height: 35px;
  width: 30px;
  line-height: 35px;
  background: rgba(255,255,255, .4);
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 5px;
  text-align: center;
}
.banner-number .active{
  height: 60px;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  background: rgba(255,255,255, .8);
}

/* content-container */
.content-container{
  height: 660px;
  background: #fff;
}

.content-nav{
  height: 70px;
  border-bottom: 1px solid #e4e5e6;
  box-sizing: border-box;
  padding-top: 20px;
}
.navbar-list{
  width: 960px;
  margin: auto;
}
.navbar-list li {
  list-style: none;
  float: left;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #EEEEEE;
  border-radius: 15px 15px 0 0;
  border: 1px solid #e4e5e6;
  box-sizing: border-box;
}
.navbar-list a{
  text-decoration: none;
  color: #333;
}
.navbar-list .active{
  background: #fff;
  border-bottom: none;
}
.content-box{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.content-top,
.content-middle,
.content-bottom{
  display: flex;
  margin-top: 10px;
  margin-left: -10px;
}
.content-top div,
.content-middle div,
.content-bottom div{
  padding: 80px;
  border: 1px solid #e4e5e6;
  text-align: center;
  margin-left: 10px; 
}
.content-middle div{
  flex-grow: 1;
}
.content-top div,
.content-bottom div{
  flex-grow: 1;
}


footer{
  height: 120px;
  text-align: center;
  background: #666666;
  color:#fff;
  overflow: hidden;
}
footer p{
  margin-top: 20px;
}

